[production]
> 0.60%
not ie 11
not edge > 0
not op_mini all
not and_uc > 0
not samsung > 0
not safari < 12

[development]
> 1.5%
not ie 11
not edge > 0
not op_mini all
not and_uc > 0
not samsung > 0
not ios_saf < 13
